*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Microsoft Yahei";
}
html,body{
    font-size: 12px;
    height: 100%;
}
img{
    border: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.cont{
    width: 100%;
    height: 100%;
    position: relative;
}
/*.cont .header{*/
    /*width: 100%;*/
    /*height: 3.5rem;*/
    /*background: black;*/
    /*line-height: 3.5rem;*/
    /*position: relative;*/
/*}*/
/*.cont .header .close{*/
    /*display: block;*/
    /*float: left;*/
    /*margin-left: 1.2rem;*/
/*}*/
/*.cont .header .close a{*/
    /*color: white;*/
    /*font-size: 1.17rem;*/
/*}*/
/*.cont .header .close a img{*/
    /*width: 0.67rem;*/
    /*height: 1.33rem;*/
    /*vertical-align: middle;*/
/*}*/
/*.cont .header .h_middle{*/
    /*color: white;*/
    /*position: absolute;*/
    /*width: 4rem;*/
    /*left: 50%;*/
    /*margin-left: -2rem;*/
    /*font-size: 1.33rem;*/
/*}*/
/*.cont .header .h_right{*/
    /*float: right;*/
    /*margin-right: 1.2rem;*/
/*}*/
/*.cont .header .h_right img{*/
    /*width: 1.67rem;*/
    /*height: 0.39rem;*/
    /*vertical-align: middle;*/
/*}*/
.cont .title{
    width: 100%;
    height: 5.83rem;
    background-image: linear-gradient(-111deg,#ff6533 3%, #FA1D41 100%);
    position: relative;
    padding-top:1rem ;
}
.cont .title .t_logo{
    width: 11rem;
    height: 2rem;
    position: absolute;
    top: 1.67rem;
    left: 1.17rem;
}
.cont .title .t_logo .logo{
    width: 11rem;
    height: 2rem;
}
.cont .title .t_logo .logo img{
    width: 11rem;
    height: 2rem;
}
.cont .title .t_right{
    float: right;
    margin-right: 1.3rem;
}
.cont .title .t_right a{
    display: inline-block;
    width: 4.2rem;
    height: 2.66rem;
    font-size: 0.75rem;
    line-height: 1.08rem;
    color: #030303;
    text-align: center;
}
.cont .title .t_right a img{
    width: 1.8rem;
    height: 1.8rem;
}
.cont .title .t_right a p{
    width: 100%;
    text-align: center;
    margin-top: 0.25rem;
}
.cont .title .float{
    width:28.75rem;
    height: 5.33rem;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(206,198,198,0.50);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    bottom: -50%;
    left: 50%;
    margin-left: -14.37rem;
}
.cont .title .float .float_img{
    width: 100%;
    height: 100%;
}
.cont .title .float .float_img img{
    width: 100%;
    height: 100%;
}
.cont .board{
    width: 100%;
    /*height: 100%;*/
    height: calc(100% - 15rem);
    padding-top: 4rem;
    background: #f5f4f4;
}
.cont .board .tab{
    width: 6rem;
    height: 100%;
    float: left;
}
.cont .board .tab .tab_ul{
    width: 100%;
    height: 100%;
}
.cont .board .tab .tab_ul .tab_li{
    width: 100%;
    height: 3.83rem;
    font-size: 0.92rem;
    position: relative;
}
.cont .board .tab .tab_ul .tab_li span{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 3.83rem;
    text-align: center;
    color: black;
}
.cont .board .tab .tab_ul .tab_li_active{
    background: white;
}
.cont .board .tab .tab_ul .tab_li_active span{
    font-size: 1.17rem;
    font-weight: bold;
}
.cont .board .tab .tab_ul .tab_li_active i{
    display: block;
    width:0.33rem;
    height: 1.17rem;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -0.58rem;
    left: 0;
}
.cont .board .tab_cont{
    /*width: auto;*/
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
}
.cont .board .tab_cont .area{
    padding-left: 0.83rem;
    margin-bottom: 2.25rem;
}
/*.cont .board .tab_cont .area:last-child{*/
    /*margin-bottom: 4.17rem;*/
/*}*/
.cont .board .tab_cont .area .area_title{
    font-size: 1.12rem;
    line-height: 2.2rem;
    margin-bottom: 1.25rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li{
    margin-bottom: 1.33rem;
    position: relative;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li:last-child{
    margin-bottom: 0;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_img{
    width: 6.17rem;
    height: 6.17rem;
    float: left;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_img img{
    width: 100%;
    height: 100%;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont{
    /*width: 100%;*/
    padding-left: 7.34rem;
    height: 6.17rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_name{
    font-size: 1.17rem;
    color: #343437;
    height: 3rem;
    line-height: 3rem;
    padding-right: 3rem;
    overflow: hidden;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_new{
    color: #ff5500;
    display: block;
    float: left;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_n{
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    float: left;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_yuan{
    font-size: 1.1rem;
    display: block;
    float: left;
    line-height: 3.2rem;
    margin-left: 0.3rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_old{
    display: block;
    font-size: 0.83rem;
    color: #999999;
    text-decoration: line-through;
    float: left;
    line-height: 3.3rem;
    margin-left: 0.5rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_li_add{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 2.67rem;
    bottom: 1rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_li_add img{
    width: 1.8rem;
    height: 1.8rem;
}
.cont .footer{
    /*position: absolute;*/
    position: fixed;
    width: 100%;
    height: 2.97rem;
    bottom: 0;
    background: white;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.cont .footer .cart{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-left: 1.17rem;
    position: relative;
}
.cont .footer .cart .cart_img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.cont .footer .cart .cart_img img{
    width: 100%;
    height: 100%;
}
.cont .footer .cart .cart_num{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    background: black;
    font-size: 0.81rem;
    text-align: center;
    line-height: 1.5rem;
    position: absolute;
    right: -0.3rem;
    top: -0.3rem;
    color: white;
}
.cont .footer .total{
    font-size: 1.25rem;
    float: left;
    margin-left: 1.42rem;
    line-height: 2.97rem;
}
.cont .footer .settlement{
    display: block;
    width: 8.33rem;
    height: 3rem;
    float: right;
    margin-right: 1.25rem;
    background-image: linear-gradient(-111deg, #ff6533 3%, #fa1d41 100%);
    border-radius: 2.08px;
    text-align: center;
    line-height: 3rem;
    font-size: 1.33rem;
    color: white;
}
.cont .footer .tishi{
    display: block;
    width:26rem;
    height: 5rem;
    font-size: 1.8rem;
    line-height: 5rem;
    background: rgba(0,0,0,.7);
    color: white;
    position: absolute;
    top: -5rem;
    text-align: center;
    left: 50%;
    margin-left: -13rem;
}
.cont .footer .tishi_hide{
    display: none;
}
.cont .selected{
    width: calc( 100% - 2.8rem);
    padding-left: 1.3rem;
    padding-right: 1.5rem;
    position: absolute;
    bottom:4.15rem;
    background: white;
}
.cont .selected_hide{
    display: none;
}
.cont .selected .sele_title{
    height: 3.33rem;
    width: 100%;
    position: relative;
}
.cont .selected .sele_title .s_t_left{
    width: 50%;
    height: 3.33rem;
    line-height: 3.33rem;
    font-size: 1.08rem;
    color: #111111;
    float: left;
}
.cont .selected .sele_title .s_t_right{
    font-size: 0.83rem;
    color: #a1a0a0;
    float: right;
    line-height: 3.33rem;
}
.cont .selected .sele_title .s_t_line{
    width: 100%;
    height:0.08rem ;
    background: #eeeeee;
    position: absolute;
    bottom: 0;
}
.cont .selected .sele_cont{
    width: 100%;
    max-height:22rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.cont .selected .sele_cont .se_ul .se_li{
    width: 100%;
    height: 4.42rem;
    line-height:4.42rem ;
}
.cont .selected .sele_cont .se_ul .se_li .se_li_name{
    display: inline-block;
    font-size:1.08rem;
    color: #111111;
}
.cont .selected .sele_cont .se_ul .se_li .se_li_handle{
    float: right;
    height: 1.4rem;
    margin-top: 1.31rem;
}
.cont .selected .sele_cont .se_ul .se_li .se_li_handle div{
    float: left;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    overflow: hidden;
    font-size: 1.5rem;
    color: white;
    background: #FB313D;
    box-shadow: 0 0 2px 0 #FF6533;
    text-align: center;
    font-weight: bold;
}
.cont .selected .sele_cont .se_ul .se_li .se_li_handle .disable{
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 #DCDADA;
    color: #999999;
}
.cont .selected .sele_cont .se_ul .se_li .se_li_handle span{
    display: block;
    float: left;
    margin-left:0.5rem ;
    margin-right:0.5rem ;
    line-height:1.4rem;
}











