*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Microsoft Yahei";
}
html,body{
    font-size: 12px;
    height: 100%;
}
img{
    border: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.cont{
    width: 100%;
    height: 100%;
    position: relative;
}
.cont .header{
    width: 100%;
    height: 3.5rem;
    background: black;
    line-height: 3.5rem;
    position: relative;
}
.cont .header .close{
    display: block;
    float: left;
    margin-left: 1.2rem;
}
.cont .header .close a{
    color: white;
    font-size: 1.17rem;
}
.cont .header .close a img{
    width: 0.67rem;
    height: 1.33rem;
    vertical-align: middle;
}
.cont .header .h_middle{
    color: white;
    position: absolute;
    width: 4rem;
    left: 50%;
    margin-left: -2rem;
    font-size: 1.33rem;
}
.cont .header .h_right{
    float: right;
    margin-right: 1.2rem;
}
.cont .header .h_right img{
    width: 1.67rem;
    height: 0.39rem;
    vertical-align: middle;
}
.cont .title{
    width: 100%;
    height: 5.83rem;
    background-image: linear-gradient(-111deg,#ff6533 3%, #FA1D41 100%);
    position: relative;
    padding-top:1rem ;
}
.cont .title .t_logo{
    width: 10.83rem;
    height: 1.19rem;
    color: white;
    font-size: 1.33rem;
    line-height: 1.19rem;
    position: absolute;
    top: 1.67rem;
    left: 1.17rem;
    overflow: hidden;
}
.cont .title .t_right{
    float: right;
    margin-right: 1.3rem;
}
.cont .title .t_right a{
    display: inline-block;
    width: 4.2rem;
    height: 2.66rem;
    font-size: 0.75rem;
    line-height: 1.08rem;
    color: #030303;
    text-align: center;
}
.cont .title .t_right a img{
    width: 1.7rem;
    height: 1.7rem;
}
.cont .title .t_right a p{
    width: 100%;
    text-align: center;
    margin-top: 0.25rem;
}
.cont .title .float{
    width:28.75rem;
    height: 5.33rem;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(206,198,198,0.50);
    border-radius: 4px;
    position: absolute;
    bottom: -50%;
    left: 50%;
    margin-left: -14.37rem;
    color: #030303;
}
.cont .title .float .f_c{
    float: left;
    margin-left: 2.5rem;
    height: 2.83rem;
    margin-top: 1.3rem;
}
.cont .title .float .f_c .f_img{
    width: 2.83rem;
    height: 2.83rem;
    float: left;
    border-radius: 50%;
    background-image: linear-gradient(-148deg, #2FA5DE 14%, #92EAF4 100%);
    box-shadow: 0 1px 2px 0 #6DD0EC;
}
.cont .title .float .f_c .f_img img{
    width: 100%;
    height: 100%;
}
.cont .title .float .f_c span{
    display: block;
    float: left;
    line-height: 2.83rem;
    font-size: 1.17rem;
    margin-left: 0.75rem;
}
.cont .title .float .f_checkout{
    float: right;
    margin-right: 2.5rem;
}
.cont .board{
    width: 100%;
    /*height: 100%;*/
    height: calc(100% - 14.33rem);
    padding-top: 4rem;
    background: #f5f4f4;
}
.cont .board .tab{
    width: 6rem;
    height: 100%;
    float: left;
}
.cont .board .tab .tab_ul{
    width: 100%;
    height: 100%;
}
.cont .board .tab .tab_ul .tab_li{
    width: 100%;
    height: 3.83rem;
    font-size: 0.92rem;
    position: relative;
}
.cont .board .tab .tab_ul .tab_li span{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 3.83rem;
    text-align: center;
    color: black;
}
.cont .board .tab .tab_ul .tab_li_active{
    background: white;
}
.cont .board .tab .tab_ul .tab_li_active span{
    font-size: 1.17rem;
    font-weight: bold;
}
.cont .board .tab .tab_ul .tab_li_active i{
    display: block;
    width:0.33rem;
    height: 1.17rem;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -0.58rem;
    left: 0;
}
.cont .board .tab_cont{
    width: auto;
    height: 100%;
    overflow-y: auto;
    background: white;
}
.cont .board .tab_cont .area{
    padding-left: 0.83rem;
    margin-bottom: 2.25rem;
}
.cont .board .tab_cont .area:last-child{
    margin-bottom: 4.17rem;
}
.cont .board .tab_cont .area .area_title{
    font-size: 1.12rem;
    line-height: 2.2rem;
    margin-bottom: 1.25rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li{
    margin-bottom: 1.33rem;
    position: relative;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li:last-child{
    margin-bottom: 0;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_img{
    width: 6.17rem;
    height: 6.17rem;
    float: left;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_img img{
    width: 100%;
    height: 100%;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont{
    width: 100%;
    padding-left: 7.34rem;
    height: 6.17rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_name{
    font-size: 1.17rem;
    color: #343437;
    height: 3rem;
    line-height: 3rem;
    padding-right: 3rem;
    overflow: hidden;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_new{
    color: #ff5500;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_n{
    font-size: 1.5rem;
    line-height: 3rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_yuan{
    font-size: 1.1rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_l_cont .a_c_l_price .a_c_l_old{
    font-size: 0.83rem;
    color: #999999;
    text-decoration: line-through;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_li_add{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #ff6533;
    overflow: hidden;
    text-align: center;
    position: absolute;
    right: 1.67rem;
    bottom: 1rem;
}
.cont .board .tab_cont .area .area_cont .a_c_ul .a_c_li .a_c_li_add span{
    color: white;
    font-weight: bold;
    line-height: 1.45rem;
    font-size: 1.6rem;
}
.cont .footer{
    position: absolute;
    width: 100%;
    height: 2.97rem;
    bottom: 0;
    background: white;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.cont .footer .cart{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-left: 1.17rem;
}
.cont .footer .cart .cart_img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.cont .footer .cart .cart_img img{
    width: 100%;
    height: 100%;
}
.cont .footer .total{
    font-size: 1.25rem;
    float: left;
    margin-left: 1.42rem;
    line-height: 2.97rem;
}
.cont .footer .settlement{
    width: 8.33rem;
    height: 3rem;
    float: right;
    margin-right: 1.25rem;
    background-image: linear-gradient(-111deg, #ff6533 3%, #fa1d41 100%);
    border-radius: 2.08px;
    text-align: center;
    line-height: 3rem;
    font-size: 1.33rem;
    color: white;
}
