*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Microsoft Yahei";
}
html,body{
    font-size: 12px;
    height: 100%;
}
img{
    border: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.cont{
    background: white;
    width: calc( 100% - 2.8rem);
    padding-left: 1.3rem;
    padding-right: 1.5rem;
}
header{
    padding-top: 1.33rem;
    height: 3.7rem;
    background-image: linear-gradient(-111deg, #FF6533 3%, #FA1D41 100%);
    font-size: 1.5rem;
    line-height: 3.7rem;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}
header .back{
    position: absolute;
    width: 1.3rem;
    height: 3.5rem;
    left: 0.9rem;
}
header .back img{
    width: 1.3rem;
    height: 2rem;
    position: absolute;
    top: 0.75rem;
    left: 0;
}
#preview, .img, img {
    width: 200px;
    height: 200px;
}
.img, img{
    border-radius: 50%;
    overflow: hidden;
}
#preview {
    border: 1px solid #000;
}
.handle_li{
    height: 4.2rem;
    width: 100%;
    border-bottom: #EDEDED 1px solid;
}
.handle_li span{
    display: block;
    float: left;
    width: 5rem;
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 1.08rem;
    color: #282828;
}
.handle_li input{
    height: 4.2rem;
    float: left;
}
.handle_li a{
    display: block;
    float: left;
    color: #282828;
    line-height: 4.2rem;
    font-size: 1.08rem;
    margin-right: 0.5rem;
}
.handle_li input[type=radio]{
    margin-right: 1rem;
}
.handle_li input[type=text]{
    width: calc(100% - 5rem);
    border: 0;
    line-height: 4.2rem;
    font-size: 1.08rem;
}
.handle_li input[type=file]{
    width: calc(100% - 5rem);
}














