<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../css/swiper-4.1.6.min.css">
    <link rel="stylesheet" href="../css/strategy_details.css">
    <script src="../js/jquery.min.js"></script>
    <script>


//        img_width()
    </script>
</head>
<body onload="img_width()">
<div class="cont" id="cont" v-cloak>
    <div class="title">
        <a class="title_words">
            {{strategy.title}}
        </a>
    </div>
    <div class="banner">
        <ul class="banner_ul">
            <li class="banner_li" v-for="item in strategy.imgUrl">
                <img :src="item" alt="">
            </li>
        </ul>

    </div>
    <div class="overview">
        <p class="overview_title">行程概览</p>
        <div class="overview_info">
            <ul class="overview_ul">
                <li class="overview_li" v-for="item in strategy.trip_list">
                    <div class="ov_li_left">{{item.time}}</div>
                    <div class="ov_li_words">
                        {{item.content}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="guide">
        <div class="guide_title">游玩攻略</div>
        <ul class="over_ul">
            <li class="over_li" v-for="item in strategy.trip_list">
                <p class="over_li_title">
                    <span class="over_li_ti_left">{{item.time2}}：</span>

                    <span class="over_li_ti_right">{{item.content}}</span>
                </p>
                <ul class="guide_ul">
                    <li class="guide_li" v-for="item in item.viewspot_list">
                        <p class="guide_li_title">
                            {{item.name}}
                        </p>
                        <div class="guide_li_img">
                            <img :src="item.imgurl" alt="">
                        </div>
                        <div class="guide_li_info">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;推荐理由:</span>
                            <span class="guide_li_words">
                                {{item.reason}}
                            </span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bottom">到底了</div>


</div>


<script src="../js/vue.js"></script>
<script src="../js/strategy_details.js"></script>
</body>
</html>