
.footer{
    min-height: 23.75rem;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: 4.25rem;
    flex-wrap: wrap;
    background: black;
}
.footer .footer_item{
    /*background: pink;*/
    width: 18%;
    max-height: 17.75rem;
    padding-top: 6rem;
}
.footer .footer_title{
    width: 100%;
    height: 2rem;
    position: relative;
    line-height: 2rem;
    font-size: 1.6rem;
    color: white;
    margin-bottom: 0.5rem;
}
.footer1{
    margin-right: 4rem;
}
.footer .footer1 .footer_title{
    width: calc(100% - 3rem);
    padding-left: 3rem;
}
.footer .footer1 .footer_title img{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:0;
    left: 0;
}
.footer .footer1 .footer1_info{
    font-size: 1.2rem;
    color:white ;
    line-height: 1.8rem;
    height: 5.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}
.footer .footer_item a{
    display: block;
    height: 2.8rem;
    line-height: 2.8rem;
    color: white;

}
.footer .footer_item .QRcode{
    width:10.83rem ;
    height: 10.83rem;
}
.footer .footer_item .QRcode img{
    width: 100%;
    height: 100%;
}






@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .footer{
        justify-content: center;
    }
    .footer .footer_item{
        width: 100%;
        padding-top: 3rem;
    }
    .footer1{
        margin-right: 0;
    }
    .footer .footer2{
        width: 50%;
    }
    .footer .footer3{
        width: 50%;
    }
    .footer .footer4{
        width: 50%;
        padding-bottom: 2rem;
    }
    .footer .footer5{
        width: 50%;
        padding-bottom: 2rem;
    }
}
@media screen and (max-width: 480px) {

}