<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			html,body{
				background: white;
			}
			.group{
				display: flex;
				flex-flow: row nowrap;
				flex: 1 1 0;
				height: 200px;
				text-align: center;
			}
			.item{
				width: 50%;
				height: 100%;
				padding: 15px;
			}
			.billboard{
				width: 100%;
				height: 100%;
				line-height: 170px;
				border-radius: 5px;
			}
			.billboard-title{
				color: white;
				font-size: 18px;
			}
			.ornge-medium{
				color: coral;
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <h1 class="mui-title">排行</h1>
		</header>
		<div class="mui-content" style="background: white;">
		    <div id="slider" class="mui-slider" >
		      <div class="mui-slider-group mui-slider-loop">
		        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
		        <div class="mui-slider-item mui-slider-item-duplicate">
		          <a href="#" style="width: 100%;height: 150px;">
		            <img src="../img/3.jpg" width="100%" height="100%">
		          </a>
		        </div>
		        <!-- 第一张 -->
		        <div class="mui-slider-item">
		          <a href="#" style="width: 100%;height: 150px;">
		            <img src="../img/1.jpg" width="100%" height="100%">
		          </a>
		        </div>
		        <!-- 第二张 -->
		        <div class="mui-slider-item">
		          <a href="#" style="width: 100%;height: 150px;">
		            <img src="../img/2.jpg" width="100%" height="100%">
		          </a>
		        </div>
		        <!-- 第三张 -->
		        <div class="mui-slider-item">
		          <a href="#" style="width: 100%;height: 150px;">
		            <img src="../img/3.jpg" width="100%" height="100%">
		          </a>
		        </div>
		        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
		        <div class="mui-slider-item mui-slider-item-duplicate">
		          <a href="#" style="width: 100%;height: 150px;">
		            <img src="../img/1.jpg" width="100%" height="100%">
		          </a>
		        </div>
		      </div>
		      <div class="mui-slider-indicator">
		        <div class="mui-indicator mui-active"></div>
		        <div class="mui-indicator"></div>
		        <div class="mui-indicator"></div>
		      </div>
		    </div>
		    
		    <div class="group">
		    	<div class="item">
		    		<div id="billboard_top" class="billboard" style="background: linear-gradient(#941ae6,#f1e0fc);background: -webkit-linear-gradient(#941ae6,#f1e0fc);">
		    			<span class="billboard-title">
		    				豆瓣Top250
		    			</span>
		    		</div>
		    	</div>
		    	<div class="item">
		    		<div id="billboard_box" class="billboard" style="background: linear-gradient(#3370cc,#cee1fd);background: -webkit-linear-gradient(#3370cc,#cee1fd);">
		    			<span class="billboard-title">
		    				北美票房榜
		    			</span>
		    		</div> 
		    	</div>
		    </div>
		    
		    
		    <div class="dark-big" style="margin-left: 15px;margin-bottom: 10px;">
		    	即将上映
		    </div>
		    <ul class="mui-table-view" id="movies">
		        <li class="mui-table-view-cell mui-media" v-for="item in movies">
		            <a>
		                <img class="mui-media-object mui-pull-left" :src="item.cover" style="width: 60px;height: 90px;max-width: 60px;">
		                <div>
		                    <p class="mui-ellipsis dark-big">{{item.title}}</p>
		                    <p class="mui-ellipsis gray-medium">
		                    	{{item.genres}}&nbsp;&nbsp;&nbsp;&nbsp;
		                    	<span class="ornge-medium" v-if="item.score>0">{{item.score}}分</span>
		                    	<span class="ornge-medium" v-else>暂无评分</span>
		                    </p>
		                    <p class="mui-ellipsis gray-medium">导演：{{item.directors}}</p>
		                    <p class="mui-ellipsis gray-medium">主演：{{item.casts}}</p>
		                </div> 
		                <button type="button"  class="mui-btn mui-btn-warning mui-btn-outlined">想看</button>
		            </a>
		        </li>
		       
		    </ul>
		    
		    
		</div>
		
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js"></script>
		<script type="text/javascript">
			mui.init();
			
			mui('.mui-slider').slider({
				interval:2000//周期，默认0	
			})
			
			var data_movies = new Vue({
				el:'#movies',
				data:{
					movies:[]
				}
			});
			
			mui.getJSON('https://api.douban.com/v2/movie/coming_soon',{
				start:0,//从0开始
				count:10//请求10条
			},function(resp){
				data_movies.movies = convert(resp.subjects);
			})
			
			//将数据转化格式后返回
			function convert(items){
				var newItems = [];
				
				items.forEach(function(item){
					var genres = item.genres.toString().replace(/,/g,' / ');//将数组tostring后悔自动以逗号分隔，将逗号替换为/
					
					var directors='';
					
					for(var i=0;i<item.directors.length;i++){
						directors += item.directors[i].name;
						if(i != item.directors.length - 1){
							directors += ' / ';
						}
					}
					
					var casts='';
					
					for(var i=0;i<item.casts.length;i++){
						casts += item.casts[i].name;
						if(i != item.casts.length - 1){
							casts += ' / ';
						}
					}
					
					newItems.push({
						id:item.id,
						title:item.title,
						genres:genres,
						cover:item.images.large,
						score:item.rating.average,
						directors:directors,
						casts:casts 
					})
					
				})
				
				return newItems;
			}
			
			//给top250添加点击事件
			mui('#billboard_top')[0].addEventListener('tap',function(){
				mui.openWindow({
					url:'top250.html',
					id:'top250.html',
					waiting:{
						autoShow:true,
						title:"正在加载..."
					}
				})
			})
			
			//给北美票房榜添加点击事件
			mui('#billboard_box')[0].addEventListener('tap',function(){
				mui.openWindow({
					url:'beimei.html',
					id:'beimei.html',
					waiting:{
						autoShow:true,
						title:"正在加载..."
					}
				})
			})
		</script>
	</body>

</html>