<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="/css/bizh5/swiper-4.1.6.min.css">
<!-- 轮播 -->
	<link rel="stylesheet" href="/css/bizh5/mescroll.min.css">
	<link rel="stylesheet" href="/css/bizh5/trip/strategy.css">
<script src="/js/appjs/bizh5/jquery.min.js"></script>
</head>
<body id="mescroll" class="mescroll">
	<input type="hidden" id="tripList" th:value="${tripList}">
	<input type="hidden" id="banners" th:value="${banners}">
	<header>旅游达人</header>
	<div class="swiper-container">
		<div class="swiper-wrapper" id="bannerList">
			<div class="swiper-slide" >
				<img src="" alt="">
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
	
		</div>
	</div>
	<div class="cont" v-cloak id="strategy">
		<div class="board">
			<div class="strategy_list">
				<ul class="strategy_ul">
					<li class="strategy_li" v-for="(item,index) in details">
					<a href="#" class="go_details" @click="godetail(item.id);">
							<p class="str_title" v-text="item.title"></p>
							<div class="str_info" v-text="item.content"></div>
							<div class="str_img">
								<img :src="item.imgUrl" alt="">
							</div>
					</a>
						<div class="handle">
							<div class="share handle_list" @click="share(item,index);">
								<div class="handle_img">
									<img src="/img/bizh5/trip/share.png" alt="">
								</div>
								<div class="handle_num" :id="'shareCount_'+index"
									v-text="item.shareCount"></div>
							</div>
							<!--<div class="comment handle_list"  @click="goComment(index)">-->
							<!--<div class="handle_img">-->
							<!--<img src="../img/comment.png" alt="">-->
							<!--</div>-->
							<!--<div class="handle_num">{{item.comment_num}}</div>-->
							<!--</div>-->
							<div class="praise handle_list" @click="praise(item.id,index)">
								<div class="handle_img">
									<img :id="'praise_'+index" src="/img/bizh5/trip/praise.png"
										alt="" class="praise_show">
								</div>
								<div class="handle_num" :id="'zanCount_'+index"
									v-text="item.zanCount"></div>
							</div>
						</div></li>
				</ul>
			</div>
			<div class="bottom">到底了</div>
		</div>

	</div>


	<script src="/js/appjs/bizh5/swiper-4.1.6.min.js"></script>
	<!-- 轮播 -->
	<script src="/js/appjs/bizh5/vue.js"></script>
	<script src="/js/appjs/bizh5/trip/strategy.js"></script>
	<script src="/js/appjs/bizh5/mescroll.min.js"></script>
	<script type="text/javascript">
        $(function(){
            //创建MeScroll对象
            var mescroll = new MeScroll("mescroll", {
                down: {
                    auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
                    callback: downCallback //下拉刷新的回调
                },
                up: {
                    use:false
                }
            });

            /*下拉刷新的回调 */
            function downCallback(){
                window.location.reload()
            }

        });
	</script>

</body>
</html>